.project {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  color: var(--light-grey);
  margin: 2rem 0;
}
.project img {
  border-radius: 7px;
}
.project .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project .description h3 {
  color: var(--dark-green);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}
.project .description h5 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 1rem;
}
.project .description p {
  font-size: 1.3rem;
  font-weight: 100;
}
.project .technologies {
  color: var(--dark-green);
  font-weight: 200;
}
.project .links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .project {
    grid-template-columns: auto;
    gap: 1rem;
  }
  .project img {
    width: 27rem;
    height: 15rem;
  }
}
