.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--dark-black);
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
