.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  min-height: 100vh;
  background-color: var(--dark-green);
  padding: 3rem 0 0 3rem;
  z-index: 2;
  animation-name: slide;
  animation-duration: 0.7s;
}
.sidebar svg {
  color: var(--dark-black);
  animation-name: slide-rotate;
  animation-duration: 1s;
}
.sidebar svg:hover {
  cursor: pointer;
  color: var(--light-grey);
  animation-name: rotate;
  animation-duration: 1s;
}
.sidebar nav ul {
  display: grid;
  gap: 1.5rem;
  list-style: none;
  padding-top: 3rem;
}
.sidebar a {
  color: var(--dark-black);
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  animation-name: slide-links;
  animation-duration: 1s;
}
.sidebar a:hover {
  color: var(--light-grey);
}
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--dark-black);
  z-index: 1;
  opacity: 0.5;
}

@keyframes slide {
  from {
    transform: translateX(-85%);
    -webkit-transform: translateX(-85%);
    -moz-transform: translateX(-85%);
    -o-transform: translateX(-85%);
    -ms-transform: translateX(-85%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
  }
}

@keyframes slide-rotate {
  from {
    transform: translateX(-85%);
    -webkit-transform: translateX(-85%);
    -moz-transform: translateX(-85%);
    -o-transform: translateX(-85%);
    -ms-transform: translateX(-85%);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
}

@keyframes slide-links {
  from {
    transform: translateX(-85%);
    -webkit-transform: translateX(-85%);
    -moz-transform: translateX(-85%);
    -o-transform: translateX(-85%);
    -ms-transform: translateX(-85%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
  }
}
