.description .text {
  color: var(--light-grey);
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1rem 40rem 0 0;
  animation-name: to-left;
  animation-duration: 2s;
}
.description .text span {
  color: var(--dark-green);
}

@keyframes to-left {
  from {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -o-transform: translateX(200%);
    -ms-transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
  }
}

@media screen and (max-width: 450px) {
  .description .text {
    font-size: 1.3rem;
    padding: 1rem 0 0 0;
  }
}
