.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-black);
  padding: 0.5rem 2rem;
}
.footer .section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer a svg {
  color: var(--dark-green);
}
