.about {
  text-align: center;
  margin: 8rem 3rem 3rem;
}
.about img {
  border-radius: 5px;
  margin: 3rem 0;
}

@media screen and (max-width: 768px) {
  .about {
    margin: 6rem 2rem 2rem;
  }
  .about img {
    width: 20rem;
    height: 15rem;
  }
}
