.text p {
  color: var(--light-grey);
  font-size: 1.7rem;
  font-weight: 200;
  padding-bottom: 1.8rem;
  text-align: left;
}
.text span {
  color: var(--dark-green);
}

@media screen and (max-width: 450px) {
  .text p {
    font-size: 1.3rem;
  }
}
